*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'Adelle Cyrillic';
  src: url('fonts/Adelle Cyrillic Regular.ttf') format('truetype');
  src: url('fonts/Adelle Cyrillic Bold.ttf') format('truetype');
  src: url('fonts/Adelle Cyrillic Light.ttf') format('truetype');
  src: url('fonts/Adelle Cyrillic SemiBold.ttf') format('truetype');
  src: url('fonts/Adelle Cyrillic Thin.ttf') format('truetype');
}
@font-face { 
  font-family: 'Elektra';
  src: url('fonts/ElektraText.otf') format("opentype");
}

body{
  width: 100%;
  height: 100%;
  background: url(img/body-bg.jpg) no-repeat;
  -webkit-background-size:cover;
  background-size:cover;
  -o-background-size:cover;
  -moz-background-size:cover;
  font-family: 'Adelle Cyrillic';
  color: #fff;
  overflow-x: hidden; 
}
section{
  width: 100%;
  height: 100%;
  padding-left: 70px;
  padding-right: 70px;
}
a{
  color: #ffed47;
}
a:hover{
  text-decoration: none;
  color: #1a8f09;
}
.spira{
  position: relative;
  background: url('img/bg-image.png') no-repeat;
  -webkit-background-size: 70%;
  background-size: 70%;
  background-position: 80% 0%;
  width: 1216px;
  height: 100vh;
  opacity: 0.75;
  float: right;
}
.container-presentation{
  max-width: 1440px;
  max-height: 900px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
} 
.presentation{
  padding-bottom: 70px;
  padding-top: 70px;
}

.container-text{
  display: inline-block;
}
.logo{
  margin-bottom: 15%;
}
.logo__text{
  display: inline-block;
  font-family: "Adelle Cyrillic";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  position: relative; 
  top: 14px;
  left:20px; 
}
.logo-img{
  text-align: right;
  position: relative;
  bottom: 65px;
}
.slogan{
}
.slogan__h1, .feedback__h1{
  font-size: 50px;
  line-height: 63px;
  margin-top: 0px;
  font-weight: 300;
}
.slogan__p{
  font-size: 25px;
  line-height: 31px;
}
.slogan__a{
  font-size: 25px;
  line-height: 31px;
}
.block-info{
  position: absolute;
  bottom:70px;
  font-style: 18px;
}
.block-info__item{
  padding-right: 90px;
}
.block-info h3{
  color: #beff21;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}
.block-info h2{
  font-size: 25px;
  font-weight: 600;
  line-height: 31px;
  padding-bottom: 20px;
}
.block-info h2>span{
  color: #beff21;
}
.block-info a{
  color: #ffed47;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}
.feedback{
  padding-bottom: 70px;
  padding-top: 70px;
}
.container__back-button{
  padding-top: 12px;
}
.back-button{
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin-left: 45px;
}
.back-button:after{
  display: block;
  content: "";
  background: url(img/arrow.png);
  width: 20px;
  height:8px;
  position: relative;
  right:-3px;
  bottom:17px;
}
.feedback{
  display: none;
  position: absolute;
  top:0px;
} 

.feedback_p{
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  margin-left: 15px;
}
.logo--feedback{
  margin-bottom: 8%;
}

.feedback_input, .feedback_textarea{
  display: block;
  width: 100%;
}
.feedback_input{
  font-family: 'Elektra';
  font-size: 18px;
  line-height: 17px;
  border:none;
  border-bottom: 2px solid #fff;
  background: none;
  color: #beff21;
  margin-top: 18px;
  padding-bottom: 6px;
  padding-top: 10px;
  font-weight: 400;
}
.feedback_input:focus, .feedback_textarea:focus {
  outline: none;
  border-bottom: 2px solid #beff21;
}
.feedback_submit:focus{
  outline: none;
}
.feedback_textarea:focus{
  border: 2px solid #beff21;
}
.feedback__form ::-webkit-input-placeholder, placeholder {
  color:#fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  opacity:1;
}
.feedback__form ::-webkit-input-placeholder {
  color:#fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  opacity:1;
}
.feedback__form ::-moz-placeholder {
  color:#fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  opacity:1;
}
.feedback__form :-moz-placeholder {
  color:#fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  opacity:1;
}
.feedback__form :-ms-input-placeholder {
  color:#fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  opacity:1;
}
.feedback_textarea{
  background: none;
  height: 192px;
  border:2px solid #fff;
  margin-top: 55px;
  font-family: 'Elektra';
  font-size: 18px;
  line-height: 17px;
  padding:15px;
  margin-bottom: 25px;
}
.container__feedback_submit{
  display: block;
  width: 500px;
}
.feedback_submit{
  background: none;
  border: 2px solid #fff000;
  border-radius: 10px;
  width: 181px;
  height: 50px;
  color: #fff000;
  font-family: "Elektra";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  float:right;
}



@media screen and (min-width:1920px){
  .spira{
    -webkit-background-size: 80%;
    background-size: 80%;
    background-position: -10% 20%;
  }

}